<ScrollView>
  <GridLayout #container
	      tkMainContent
	      rows="auto, auto, auto, auto, auto, auto"
	      columns="*, *"
	      class="page page-content"
	      verticalAlign="center">
    <Label row="0"
	   colSpan="2"
	   class="account-icon fa"
	   text="&#xf2be;"></Label>
    <TextField #email
	       [(ngModel)]="user.email"
	       row="1"
	       colSpan="2"
	       hint="Email Address"
	       keyboardType="email"
	       autocorrect="false"
	       autocapitalizationType="none"></TextField>
    <TextField #password
	       [(ngModel)]="user.password"
	       row="2"
	       colSpan="2"
	       hint="Password"
	       secure="true"></TextField>

    <Button row="3"
	    colSpan="2"
	    [text]="isLoggingIn ? 'Sign in' : 'Sign up'"
	    class="submit-button"
	    (tap)="submit()"></Button>
    <Button row="4"
	    colSpan="2"
	    [text]="isLoggingIn ? 'Sign up' : 'Back to login'"
	    (tap)="toggleDisplay()"></Button>
    <Button row="5"
	    colSpan="2"
	    text="Cancel"
	    (tap)="cancel()"></Button>
  </GridLayout>
</ScrollView>
