.action-item {
    color: white;
    font-size: 18;
    text-transform: none;
}

.account-item {
    vertical-align: center;
    text-overflow: none;
    text-align: left;
    word-wrap: normal;
    color: black;
    font-weight: bold;
    margin: 15;
}

.account-text-entry {
    text-align: right;
    margin: 15;
}
